.bg {
	background-color:#ddd;
	height:100%;
}
.wrapper {
	width:970px;
	text-align:center;
	margin:auto;
	height:100%;
	background-color:rgba(255,255,255,0.5);
	position:relative;
}
.wrapper h1{
	color:#666;
}
/*--header--*/
.header {
	padding:15px 0;
	margin-bottom:40px;
	background-color:#999;
	width:100%;
}
/*--orbit--*/

#sun {
	position:static;
	+position:relative;
	top:-50%;left:-50%;
	background: url(../img/you.png) center center;
	background-size:cover;
    height: 200px;
    width: 200px;
    margin-top: 150px; 
    border-radius:50%;
    box-shadow:0 0 64px #FFEB5D;
	
}

#earth {
	width:80px;
    margin-left:-40px;
    margin-top:-40px;
}

#earth-orbit {
	position:relative;
    width:500px;
    height:500px;
    margin-top:-350px;
    border-width:2px;
    border-style:dotted;
    border-color:white;
    border-radius:50%;
    
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.orbit>.container>a,
.orbit>.container>a:hover
 {
	width:500px;
	height:500px;
	margin:auto;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	position:relative;
	left:40%;
	
}
.orbit>.container>a:hover
 {
	border-radius:50%;
	box-shadow:inset 0 2px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 0 2px 10px rgba(0,0,0,0.5);
	background-color:#ddd;
}
/*--photos--*/
.photos {
	margin-top:40px;
}
.photos .container {
	padding: 20px 0;
	border-top:1px solid #ddd;
}
.photos .row {
	margin:10px 0;
}
.photos img {
	width:100%;
	height:233px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.5);
	box-shadow:0 1px 6px rgba(0,0,0,0.5);
}